<h1 class="logo"><a href="/" title="#">Munstur & Menning</a></h1>
<div class="navwrap">
  <ul id="nav">
    <li><a href="/">Heim</a></li>
    <li>
      <a href="/portfolio">Bækurnar</a>
      <ul>
        <li><a href="/baekur/hannyrdir">Hannyrðir</a></li>
        <li><a href="/baekur/vefnadur">Vefnaður</a></li>
        <li><a href="/baekur/utsaumur">Hvítar Útsaumsgerðir</a></li>
        <li><a href="/baekur/jurtalitun">Jurtalitun</a></li>
        <li><a href="/baekur/gomul_mynstur">Gömul Mynstur</a></li>
        <li><a href="/baekur/milliverk">Milliverk</a></li>
        <li><a href="/baekur/munsturbekkir">Munsturbekkir</a></li>
        <li><a href="/baekur/stafabaekur">Stafabækur</a></li>
        <li><a href="/baekur/utskurdarmynstur">Útskurðarmynstur</a></li>
        <li><a href="/baekur/utsogunarmynstur">Útsögunarmynstur</a></li>
        <li><a href="/baekur/tuskudyr">Tuskudýr</a></li>
        <li><a href="/baekur/smidakver">Smíðakver</a></li>
      </ul>
    </li>
    <li>
      <a href="/altarisdukar">Altarisdúkar</a>
      <ul>
        <li><a href="/altarisdukar">Um Verkefnið</a></li>
        <li><a href="/frettabladid-2016">Fréttablaðið, 2016</a></li>
        <li><a href="/huguroghond">Hugur og Hönd, 2008</a></li>
      </ul>
    </li>
    <li><a href="/altarisdukamunstur">Altarisdúkamunstur</a></li>
    <li>
      <a href="/munstur">Munstur.is</a>
      <ul>
        <li><a href="/munstur#fyrirtaekid">Fyrirtækið</a></li>
        <li><a href="/munstur#jenny">Jenný Karlsdóttir</a></li>
        <li><a href="/munstur#huguroghond2018">Hugur og Hönd, 2018</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--end navwrap-->

<!--<li class="current_page_item"></li>-->
