<div id="sidebar">
  <div class="small_box widget_pages">
    <h3 class="heading">Munstur.is</h3>
    <ul>
      <li class="page_item">
        <a href="/munstur#fyrirtaekid">Um Fyrirtækið</a>
      </li>
      <li class="page_item"><a href="/munstur#jenny">Jenný Karlsdóttir</a></li>
    </ul>
  </div>

  <div class="small_box widget_pages">
    <h3 class="heading"><a href="/portfolio">Bækur</a></h3>
    <ul>
      <li class="page_item">
        <a href="/baekur/hannyrdir"
          >Leiðarvísir til að nema ýmsar kvennlegar hannyrðir</a
        >
      </li>
      <li class="page_item">
        <a href="/baekur/hannyrdir#hannyrdir"
          >Leiðarvísir til að nema ýmsar hannyrðir og fatasaum</a
        >
      </li>
      <li class="page_item">
        <a href="/baekur/vefnadur">Vefnaðar og Útsaumsgerðir</a>
      </li>
      <li class="page_item">
        <a href="/baekur/utsaumur">Hvítar Útsaumsgerðir</a>
      </li>
      <li class="page_item"><a href="/baekur/jurtalitun">Jurtalitun</a></li>
      <li class="page_item">
        <a href="/baekur/gomul_mynstur">Gömul Mynstur</a>
      </li>
      <li class="page_item">
        <a href="/baekur/milliverk">Milliverk - Hekl/Harðangur</a>
      </li>
      <li class="page_item">
        <a href="/baekur/milliverk#thorveig">Harðangur Þórveigar</a>
      </li>
      <li class="page_item">
        <a href="/baekur/munsturbekkir">Munsturbekkir</a>
      </li>
      <li class="page_item"><a href="/baekur/stafabaekur">Stafabækur</a></li>
      <li class="page_item">
        <a href="/baekur/utskurdarmynstur">Útskurðarmynstur</a>
      </li>
      <li class="page_item">
        <a href="/baekur/utsogunarmynstur">Útsögunarmynstur</a>
      </li>
      <li class="page_item"><a href="/baekur/tuskudyr">Tuskudýr</a></li>
      <li class="page_item"><a href="/baekur/smidakver">Smíðakver</a></li>
    </ul>
  </div>

  <div class="small_box widget_pages">
    <h3 class="heading"><a href="/altarisdukar">Altarisdúkar</a></h3>
    <ul>
      <li class="page_item">
        <a href="/altarisdukar#altarisdukar">Um Verkefnið</a>
      </li>
      <li class="page_item">
        <a href="/frettabladid-2016">Grein í Fréttablaðinu - 2016</a>
      </li>
      <li class="page_item">
        <a href="/huguroghond">Grein í Hugur og Hönd - 2008</a>
      </li>
    </ul>
  </div>

  <div class="small_box">
    <h3>Hafa Samband</h3>
    <p>
      Ef þú hefur áhuga á að eignast eitthvað af bókunum mínum, þá endilega
      hafðu samband. Bæði er hægt að senda mér tölvupóst á
      <a href="mailto:jenny@munstur.is">jenny@munstur.is</a> eða hafa samband
      símleiðis.
    </p>
    <p>
      Jenný Karlsdóttir<br />Víkurgili 19<br />600 Akureyri<br />S: 860-4933<br /><a
        href="mailto:jenny@munstur.is"
        >jenny@munstur.is</a
      >
    </p>
    <img src="/images/front4.png" alt="" class="ie6fix" />
  </div>
  <!--end small_box-->
</div>
<!--end sidebar-->
